.auth-container {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)),
  url('../../../../assets/ff-auth-bg.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10%;
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #EA4335;

  label {
    margin-bottom: 1.2em;
  }

  button {
    width: 50%;
  }

  p {
    margin: 1em 0;
  }
}


