<label class="address-label" for="address" *ngIf="showSearch">
  <input type="text" id="address" class="form-control" (keydown.enter)="$event.preventDefault()"
         placeholder="Въведи локация" #search>
</label>

<agm-map
  [latitude]="latitude"
  [longitude]="longitude"
  [zoom]="zoom">
  <agm-marker
    [latitude]="latitude"
    [longitude]="longitude">
  </agm-marker>

  <agm-marker *ngFor="let disaster of currentDisasters"
    [latitude]="disaster.latitude"
    [longitude]="disaster.longitude"
    [iconUrl]="{ url: disaster.iconUrl, labelOrigin: {x:22.5,y:20}, scaledSize: {height: 45,width: 45}}"
  >
  </agm-marker>
</agm-map>

<button class="alternate-button" *ngIf="showButton" (click)="submitCoordinates()">Избери</button>
