.main-container {
  min-height: calc(100vh);
  background-color: #000000;
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)),
  url('../../../../assets/ff-d-bg.jpg');
  background-size: cover;
  background-position: center;
  color: #EA4335;
  text-align: center;
}

h1 {
  font-size: 1.5em;
  padding: 1em;
  //margin: 1em 0;
}
