<section class="auth-container">

  <form action="" class="auth-form">
    <label for="email">
      <input class="basic-input" type="email" name="email" id="email" placeholder="Имейл">
    </label>

    <label for="password">
      <input class="basic-input" type="password" name="password" id="password" placeholder="Парола">
    </label>

    <button type="submit" class="main-button">Вход</button>

    <p>Нямаш акаунт? <a class="basic-href" routerLink="/register">Регистрирай се</a></p>
  </form>

</section>
