<div class="auth-icons" *ngIf="!authenticationService.isAuthenticated()">
  <a routerLink="/login">
    <i class="fas fa-sign-in-alt"></i>
  </a>

  <a href="/register">
    <i class="fas fa-user-plus"></i>
  </a>
</div>

<div class="auth-icons" *ngIf="authenticationService.isAuthenticated()">
  <a routerLink="/profile">
    <i class="fas fa-user-circle"></i>
  </a>

  <a routerLink="/" (click)="logout()">
    <i class="fas fa-sign-out-alt"></i>
  </a>
</div>

<section>

  <div class="main-buttons">
    <button class="main-button" routerLink="/report">
      Сигнализирай
    </button>

    <button routerLink="/disasters"
            [class.main-button]="!activeDisasters"
            [class.alternate-button]="activeDisasters">
      Бедствия
    </button>

    <button class="main-button">
      Първа помощ
    </button>
  </div>

</section>
